__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory/
.tox/
.coverage
.cache
.pytest_cache/
htmlcov/
.hypothesis/
.mypy_cache/

*.log
*.pot
*.mo
*.xml
db.sqlite3
media/
static/
.idea/
.vscode/
.DS_Store
Thumbs.db
.env